body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 15px;
}
.profile {
    width: 183px;
    height: 183px;
    background-image: url(https://images.theconversation.com/files/378097/original/file-20210111-23-bqsfwl.jpg?ixlib=rb-4.1.0&rect=36%2C84%2C7980%2C5072&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}
.notify {
    width: 30px;
    height:  30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    right: 20px;
}
a:link {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}