body {
    background-attachment: fixed;
    background-image: url("https://wallpapercave.com/wp/wp2871527.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial, sans-serif;
    margin: 0;
}
.nav {
    background-color: #121212;
    overflow: hidden;
}
.nav a {
    color: #eeeeee;
    float: left;
    font-size: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.picture {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.logo img {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 330px;
}
.action-button {
    display: block;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 20px;
}
footer {
    background-color: #121212;
    color: white;
    padding: 10px;
    text-align: center;
}
