.nav {
    background-color: #666666;
    overflow: hidden;
  }

.nav a {
    float: left;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }

body, html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp2871527.png");
    }

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.logo img{
    width: auto;
    height: 330px;
    border-radius: 10px;
    align-items: center;
    border: 1 solid;
    text-align: center
    }

footer {
        background-color: #666666;
        padding: 10px;
        text-align: center;
        color: white;
      }